
.loading {
	height: 60px;
	width: 100%;
	display: block;
	display: -webkit-box;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center; 

}
.list .my-item.item {
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.my-content {
	 background-color:#f5f6f7;
}

.m-l-m {margin-left: 10px;}
.m-r-m {margin-right: 10px;}
.m-t-large {margin-top: 20px}

.menu {
	background-color: #353030
}

.item-complex .item-content {
	background-color: #353030;
	color: #fff;	
	padding: 30px 49px 30px 16px;
}

.menu .bar-header {
	background-color: #353030;
}

.bar.bar-menu .title {
	color: #fff;	
}

.ticket-arrived {
	border-top-width: thin;
	border-top-color: green;
}

.ticket-not-arrived {
	border-top-width: thin;
	border-top-color: red;
}
