<ion-view title="Update Event">
<ion-content class="has-header" padding="true">    

	<div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Name</span>
			<input type="text" placeholder="awesome event" ng-model="event.name">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">When</span>
			<input type="text" ng-model="event.when" placeholder="14-12-2015 20:00">
		</label>

		<div class="item item-input-inset">
			<label class="item-input-wrapper">
				<input type="text" placeholder="Price" ng-model="newPrice">
			</label>
			<button class="button button-small" ng-click="addPrice(newPrice)">
				Add
			</button>
		</div>

		<div class="list">
			<div class="item  item-icon-right" ng-repeat="price in prices">
				{{price | currency}}
				<i class="icon ion-close-round" ng-click="deletePrice($index)"></i>
			</div>
		</div>	
	</div>


<button class="button button-block button-outline button-positive" ng-click="updateEvent()">
	Save
</button>


</ion-content>
</ion-view>