<form name="addCommentForm" novalidate>
    <div class="item item-input item-stacked-label add-comment">
        <input type="text" placeholder="New comment" ng-model="vm.newComment" name="newComment" required>
        <button class="button button-clear button-calm button-small" ng-click="vm.saveComment()" ng-disabled="addCommentForm.$invalid">
            Send
        </button>
    </div>
</form>

<p class="text-center m-t-l" ng-show="vm.comments.length==0">
    Have no comments
</p>

<ion-list can-swipe="true">
    <ion-item ng-repeat="comment in vm.comments | orderBy:'-created_at'" class="item-avatar">

        <img ng-src="content/img/avatar.jpg">
        <h2>{{::comment.user.first_name}} {{::comment.user.last_name}}</h2>
        <p> {{::comment.comment}} </p>
        <h6>
            <i class="icon ion-clock"></i> 
            <span> {{::comment.created_at | date}} </span>
        </h6>

        <ion-option-button class="button-assertive" ng-click="vm.deleteComment(comment)" ng-show="vm.canDelete(comment)">
            Delete
        </ion-option-button>

    </ion-item>
</ion-list>
