<ion-view title="{{user.name}}">
<ion-nav-buttons side="right">
<button class="button button-clear right" ui-sref="app.updateUser({ userId:user.id })">EDIT</button>
</ion-nav-buttons>
<ion-content class="has-header">    

<div style="position: relative;">
	<img src="img/clientCover.jpg" style="height: 300px;width: 100%; ">   

	<div class="text-center" style="position: absolute; top: 0px; height: 300px; width: 100%; background: rgba(68, 68, 68, 0.7)">
		<h1 style="color:#fff; margin-top:20%"> {{user.name}}</h1>

		<h4 style="color:#fff">
			<span> {{user.role}} </span>
			<span ng-if="client.city"> from {{client.city}} </span>			
		</h4>

		<div class="row" style="margin-top:10%" ng-if="user.role != 'cashier'">
			<div class="col" style="border-right:white solid thin">
				<h4 style="color:#fff">
					Tickets
					<br> {{tickets.length}}
				</h4>
			</div>
			<div class="col" style="border-right:white solid thin">
				<h4 style="color:#fff">
					Arrived
					<br> {{arrivedSum}}
				</h4>
			</div>
			<div class="col">
				<h4 style="color:#fff">
					Income
					<br> {{income | currency}}
				</h4>
			</div>
		</div>

	</div>
</div>

<label class="item item-input" ng-if="user.role != 'cashier'">
	<i class="icon ion-search placeholder-icon"></i>
	<input type="text" placeholder="Search" ng-model="searchParam">
</label>

<div class="list" ng-if="user.role != 'cashier'">
	<a class="item"
	ng-repeat="ticket in tickets | orderBy:['-event.when','client.first_name'] | filter:searchParam"
	collection-item-width="'100%'"
	collection-item-height="60"
	ui-sref="app.showTicket({ ticketId:ticket.id, clientId:ticket.client.id })"
	style="border: none;">
	<div style="border-bottom: #ddd; border-bottom-style: solid; border-bottom-width: thin;">
		{{ticket.client.first_name + " " + ticket.client.last_name}}
		<p style="color:red; float:right" ng-show="!ticket.arrived"> Not arrived </p>
		<p style="color:green; float:right" ng-show="ticket.arrived"> Arrived </p>
		<p style="margin-bottom: 15px"> {{ticket.price.price | currency}} to {{ticket.event.name}}</p>
	</div>
</a>
</div>

</ion-content>
</ion-view>