<ion-view title="{{user.name}}">
<ion-content class="has-header">    
<div class="list card">
	<div class="item">
		<h2>{{user.name}}</h2>
		<p>{{user.role}}</p>
	</div>
	<div class="item item-body" ng-if="user.role != 'cashier'">
		<p>All events: Arrived {{arrivedSum}} , Not Arrived {{tickets.length - arrivedSum}}</p>
	</div>

	<div class="item tabs tabs-secondary tabs-icon-left">
		<a class="tab-item" ui-sref="app.updateUser({ userId:user.id })">
			<i class="icon ion-edit"></i>
			Change Role
		</a>
		<a class="tab-item" ng-click="lockUser()">
			<i class="icon ion-locked"></i>
			Lock
		</a>
	</div>
</div>

<div class="list card" ng-if="user.role != 'cashier'">
	<label class="item item-input item-select">
		<div class="input-label">Event </div>
		<select ng-model="selectedEvent.id" ng-options="event.id as event.name for event in events" ng-change="changeEvent()">
		</select>
	</label>

	<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" placeholder="Search" ng-model="searchParam">
	</label>

	<label class="item item-input">
		<p class="col col-offset-25"> Arrived {{EventArrived}} | Not Arrived {{EventNotArrived}} </p>
	</label>

	<ul class="list">
		<li class="item item-icon-right" ng-repeat="ticket in tickets | orderBy:'client.first_name' | filter:{event: selectedEvent, client: searchParam}" ui-sref="app.showTicket({ ticketId:ticket.id, clientId:ticket.client.id })">
			{{ticket.client.first_name + " " + ticket.client.last_name}}
			{{ticket.price.price | currency}}
			<i class="icon ion-checkmark-round" ng-if="eventPass(ticket.event) && ticket.arrived"></i>
			<i class="icon ion-close-round" ng-if="eventPass(ticket.event) && !ticket.arrived"></i>
		</li>
	</ul>
</div>

</ion-content>
</ion-view>