<ion-view title="{{vm.user.name}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="vm.update()">
            Done
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <form name="myForm" novalidate>
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">Role </div>
                    <select ng-model="vm.user.role">
                        <option value="producer">Producer</option>
                        <option value="promoter">Promoter</option>
                        <option value="cashier">Cashier</option>
                    </select>
                </label>
            </div>
        </form>

        <div class="delete-btn-wrapper">
            <button class="button button-small button-block button-assertive" ng-click="vm.confirmLock()">
                Lock User
            </button>
        </div>

    </ion-content>
</ion-view>
