<ion-view title="{{user.name}}">
<ion-content class="has-header">    
<div class="list card">
	<div class="item">
		<h2>{{user.name}}</h2>
		<p>{{user.role}}</p>
	</div>
	<label class="item item-input item-select">
		<div class="input-label">Role </div>
		<select ng-model="user.role">
			<option value="producer">Producer</option>
			<option value="promoter">Promoter</option>
			<option value="cashier">Cashier</option>
		</select>
	</label>

	
	<div class="text-center m-t-large">
		<button class="button button-outline button-positive" ng-click="update()">
		Update
	</button>
	<button class="button button-outline button-assertive" ng-click="lockUser()">
		Lock User
	</button>
	</div>

</div>

</ion-content>
</ion-view>