<ion-view title="Workers">
<ion-content class="has-header">

<div class="list">

	<div class="item item-divider"> Producers</div>
	<div class="item" ui-sref="app.showUser({ userId:user.id })" ng-repeat="user in users | filter:{lock: false, role:'producer'} | orderBy:'first_name'"> {{user.name}} </div>

	<div class="item item-divider"> Promoters</div>
	<div class="item" ui-sref="app.showUser({ userId:user.id })" ng-repeat="user in users | filter:{lock: false, role:'promoter'} | orderBy:'first_name'"> {{user.name}} </div>

	<div class="item item-divider"> Cashiers</div>
	<div class="item" ui-sref="app.showUser({ userId:user.id })" ng-repeat="user in users | filter:{lock: false, role:'cashier'} | orderBy:'first_name'"> {{user.name}} </div>

	<div class="item item-divider"> Lock Workers</div>
	<div class="item item-icon-right" ng-repeat="user in users | filter:{lock: true} | orderBy:'-role'"> 
		{{user.name}} ({{user.role}}) 
		<i class="icon ion-unlocked" ng-click="unlockUser(user)"></i>
	</div>


</div>

</ion-content>
</ion-view>
