<ion-view title="{{vm.user.name}}">
	<ion-nav-buttons side="right">
		<button class="button button-clear right" ui-sref="app.users.update({ userId:vm.user.id })">
			EDIT
		</button>
	</ion-nav-buttons>
	<ion-content class="has-header">  

		<figure class="profile-cover text-center">
	        <img src="content/img/clientCover.jpg">
	        <figcaption>
	            <h1> {{vm.user.name}} </h1>
	            <div class="h4">
	                <span> {{vm.user.role}} </span>
					<span ng-if="vm.client.city"> from {{vm.client.city}} </span>
	            </div>
	            <div class="row h4 profile-stats" ng-if="vm.user.role != 'cashier'">
	                <div class="col">
	                    <p>Tickets</p>
	                    <p>{{vm.tickets.length || '0'}}</p>
	                </div>
	                <div class="col">
	                    <p>Arrived</p>
	                    <p>{{vm.arrivedAmount || '0'}}</p>
	                </div>
	                <div class="col">
	                    <p>Income</p>
	                    <p>{{vm.income | currency}}</p>
	                </div>
	            </div>
	        </figcaption>
	    </figure>

		<div ui-view></div>

	</ion-content>
</ion-view>