<ion-refresher
pulling-text="Pull to refresh..."
on-refresh="vm.refresh()">
</ion-refresher>

<label class="item item-input">
	<i class="icon ion-search placeholder-icon"></i>
	<input type="text" placeholder="Search" ng-model="vm.searchParam">
</label>

<div class="list">
	<div class="item item-avatar"
	style="border-bottom: #ddd; border-bottom-style: solid; border-bottom-width: thin;"
	ng-repeat="client in vm.clients | orderBy:'first_name' | filter:vm.searchParam"
	collection-item-width="'100%'"
	collection-item-height="60"
	ng-click="vm.clickCallback(client.id)">
	<img src="content/img/avatar.jpg">
	<div >
		<h2> {{client.name}}</h2>
		<p style="margin-bottom: 15px;">
			<i ng-if="client.gender == 'female'" class="icon ion-female" style="color:red"></i>
			<i ng-if="client.gender == 'male'" class="icon ion-male" style="color:blue"></i>
			<span ng-if="client.birthdate"> {{client.birthdate | date}} </span>
			<span ng-if="client.city"> from {{client.city}} </span>			
		</p>
	</div>
</div>
</div>