<ion-view title="New Client">
    <ion-content class="has-header">

        <form name="myForm" novalidate>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="John" ng-model="vm.client.firstName" name="firstName" required>
                    <p style="color: pink" ng-show="myForm.firstName.$invalid && !myForm.firstName.$pristine">first name is required</p>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Doh" ng-model="vm.client.lastName" name="lastName" required>
                    <p style="color: pink" ng-show="myForm.lastName.$invalid && !myForm.lastName.$pristine">last name is required</p>
                </label>
                <div class="gender-item">
                    <div class="gender-label">Gender</div>
                    <div class="gender-btns">
                        <button class="button button-clear button-calm" ng-class="{'not-selected': vm.client.gender!='male'}" ng-click="vm.client.gender='male'">
                            Male
                        </button>
                        <button class="button button-clear button-calm" ng-class="{'not-selected': vm.client.gender!='female'}" ng-click="vm.client.gender='female'">
                            Female
                        </button>
                    </div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Birthdate</span>
                    <et-date-picker start-view="year" min-view="day" date-format="MMM d, y" ng-model="vm.client.birthdate" placeholder="Select Date"> </et-date-picker>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">City</span>
                    <input type="text" placeholder="New York" ng-model="vm.client.city">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Phone Number</span>
                    <input type="tel" placeholder="0541234567" ng-model="vm.client.phone">
                </label>
            </div>
        </form>


        <button class="button button-block button-outline button-calm" ng-click="vm.createClient()" ng-disabled="myForm.$invalid">
            Create client
        </button>


    </ion-content>
</ion-view>
