<ion-view title="Update Client">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="vm.updateClient()" ng-disabled="vm.editClientForm.$invalid">Done</button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <form name="vm.editClientForm" novalidate>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="John" ng-model="vm.client.first_name" name="firstName" required>
                    <p style="color: pink" ng-show="vm.editClientForm.firstName.$invalid && !vm.editClientForm.firstName.$pristine">first name is required</p>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Doh" ng-model="vm.client.last_name" name="lastName" required>
                    <p style="color: pink" ng-show="vm.editClientForm.lastName.$invalid && !vm.editClientForm.lastName.$pristine">last name is required</p>
                </label>
                <div class="gender-item">
                    <div class="gender-label">Gender</div>
                    <div class="gender-btns">
                        <button class="button button-clear button-calm" ng-class="{'not-selected': vm.client.gender!='male'}" ng-click="vm.client.gender='male'">
                            Male
                        </button>
                        <button class="button button-clear button-calm" ng-class="{'not-selected': vm.client.gender!='female'}" ng-click="vm.client.gender='female'">
                            Female
                        </button>
                    </div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Birthdate</span>
                    <et-date-picker start-view="year" min-view="day" date-format="mediumDate" ng-model="vm.client.birthdate" placeholder="{{vm.client.birthdate | date:'mediumDate'}}"> </et-date-picker>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">City</span>
                    <input type="text" placeholder="New York" ng-model="vm.client.city">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Phone Number</span>
                    <input type="tel" placeholder="0541234567" ng-model="vm.client.phone_number">
                </label>
            </div>
        </form>

        <div class="delete-btn-wrapper">
            <button class="button button-small button-block button-assertive" ng-click="vm.confirmDelete()">
                Delete Client
            </button>
        </div>

    </ion-content>
</ion-view>
