<ion-view title="Profile">
    <ion-nav-buttons side="right">
        <button class="button button-clear right" ui-sref="app.clients.update({ clientId: vm.client.id })" ng-if="vm.user.role!='cashier'">EDIT
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <figure class="profile-cover text-center">
            <img src="content/img/clientCover.jpg">
            <figcaption>
                <h1> {{vm.client.name}} </h1>
                <div class="h4">
                    <i ng-class="{'icon ion-male': vm.client.gender == 'male', 'icon ion-female': vm.client.gender == 'female'}"></i>
                    <span ng-if="vm.client.birthdate"> {{vm.client.birthdate | date}} </span>
                    <span ng-if="vm.client.city"> from {{vm.client.city}} </span>
                </div>
                <div class="row h4 profile-stats">
                    <div class="col">
                        <p>Tickets</p>
                        <p>{{vm.tickets.length || '0'}}</p>
                    </div>
                    <div class="col">
                        <p>Arrived</p>
                        <p>{{vm.arrivedCount || '0'}}</p>
                    </div>
                    <div class="col">
                        <p>Friends</p>
                        <p>{{vm.friendsCount || '0'}}</p>
                    </div>
                </div>
            </figcaption>
        </figure>

        <div class="client-profile-nav">
            <p ui-sref=".tickets" ui-sref-active="active"> TICKETS </p>
            <p ui-sref=".comments" ui-sref-active="active"> COMMENTS </p>
            <p ui-sref=".friends" ui-sref-active="active"> FRIENDS </p>
        </div>

        <div ui-view="create"></div>
        <div ui-view="index"></div>

    </ion-content>
</ion-view>
