<ion-view title="Profile">
<ion-nav-buttons side="right">
<button class="button button-clear right" ui-sref="app.clients.update({ clientId: vm.client.id })" ng-if="vm.user.role!='cashier'">EDIT</button>
</ion-nav-buttons>
<ion-content class="has-header"> 

<div style="position: relative;">
	<img src="content/img/clientCover.jpg" style="height: 300px;width: 100%; ">   

	<div class="text-center" style="position: absolute; top: 0px; height: 300px; width: 100%; background: rgba(68, 68, 68, 0.7)">
		<h1 style="color:#fff; margin-top:20%"> {{vm.client.name}}</h1>

		<h4 style="color:#fff">
			<i ng-if="vm.client.gender == 'female'" class="icon ion-female"></i>
			<i ng-if="vm.client.gender == 'male'" class="icon ion-male"></i>
			<span ng-if="vm.client.birthdate"> {{vm.client.birthdate | date}} </span>
			<span ng-if="vm.client.city"> from {{vm.client.city}} </span>			
		</h4>
		<h4 style="color:#fff">
			<i class="icon ion-iphone"></i>
			<span> {{vm.client.phone_number}} </span>
		</h4>

		<div class="row" style="margin-top:10%" ng-if="user.role!='cashier'">
			<div class="col" style="border-right:white solid thin">
				<h4 style="color:#fff">
					Tickets
					<br> {{vm.tickets.length}}
				</h4>
			</div>
			<div class="col" style="border-right:white solid thin">
				<h4 style="color:#fff">
					Arrived
					<br> {{vm.arrivedCount}}
				</h4>
			</div>
			<div class="col">
				<h4 style="color:#fff">
					Friends
					<br> {{vm.friendsCount || '0'}}
				</h4>
			</div>
		</div>

	</div>
</div>

<div class="client-profile-nav">
	<p ui-sref=".tickets" ui-sref-active="active"> TICKETS </p>
	<p ui-sref=".comments" ui-sref-active="active"> COMMENTS </p>
	<p ui-sref=".friends" ui-sref-active="active"> FRIENDS </p>
</div>

<div ui-view="create"></div>
<div ui-view="index"></div>

</ion-content>
</ion-view>