<ion-nav-bar class="bar bar-calm">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>


<ion-tabs class="tabs-icon-top tabs-default" ng-controller="Shell as vm">


  <!-- Clients Tab -->
  <ion-tab title="Clients" icon="icon ion-home" ui-sref="app.clients">
    <ion-nav-view name="tab-clients"></ion-nav-view>
  </ion-tab>

  <!-- Events Tab -->
  <ion-tab hidden="{{vm.user.role === 'cashier'}}" title="Events" icon="icon ion-headphone" ui-sref="app.events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>
  </div>

  <!-- Workers Tab -->
  <ion-tab hidden="{{vm.user.role !== 'producer'}}" title="Workers" icon="icon ion-person-stalker" ui-sref="app.users" >
    <ion-nav-view name="tab-workers"></ion-nav-view>
  </ion-tab>

  <!-- Logout Tab -->
  <ion-tab title="Logout" icon="icon ion-log-out" ng-click="vm.logout()">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>


</ion-tabs>