<ion-nav-bar class="bar-stable nav-title-slide-ios7" ng-controller="Shell as vm">
  <ion-nav-back-button class="button-icon ion-arrow-left-c">
  </ion-nav-back-button>
</ion-nav-bar>


<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Clients Tab -->
  <ion-tab title="Clients" icon="icon ion-home" ui-sref="app.clients">
    <ion-nav-view name="tab-clients"></ion-nav-view>
  </ion-tab>

  <!-- Events Tab -->
  <ion-tab title="Events" icon="icon ion-headphone" ui-sref="app.events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <!-- Workers Tab -->
  <ion-tab title="Workers" icon="icon ion-person-stalker" ui-sref="app.users">
    <ion-nav-view name="tab-workers"></ion-nav-view>
  </ion-tab>

  <!-- More Tab -->
  <ion-tab title="Logout" icon="icon ion-log-out" ui-sref="logout">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>


</ion-tabs>