<ion-view title="Events">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-plus-round right" ui-sref="app.events.create" ng-if="vm.user.role=='producer'"></button>
    </ion-nav-buttons>
    <ion-content>

        <ion-list>
            <ion-item ng-repeat="event in vm.events | orderBy:'-when'" ui-sref="app.events.detail.tickets({ eventId:event.id })">
                <h2>{{ event.name }}</h2>
                <p>{{ event.when | date }}</p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
