<ion-view title="Events">
<ion-nav-buttons side="left">
<button class="button button-clear icon ion-plus-round right" ui-sref="app.eventCreate" ng-if="user.role=='producer'"></button>
</ion-nav-buttons>
<ion-content padding="true" class="my-content">

<div class="list card" ng-repeat="event in events | orderBy:'-when'">
  <div class="item">
    <h2>{{ event.name }}</h2>
    <p>{{ event.when | date }}</p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" ui-sref="app.eventShow({ eventId:event.id })">
      <i class="icon ion-information-circled"></i>
      Show
    </a>
    <a class="tab-item" ui-sref="app.eventUpdate({ eventId:event.id })" ng-if="!eventPass(event) && user.role=='producer'">
      <i class="icon ion-edit"></i>
      Edit
    </a>
    <a class="tab-item" ui-sref="app.eventDelete({ eventId:event.id })" ng-if="user.role=='producer'">
      <i class="icon ion-trash-b"></i>
      Delete
    </a>
  </div>

</div>


</ion-content>
</ion-view>