<ion-view title="Events">
<ion-nav-buttons side="left">
<button class="button button-clear icon ion-plus-round right" ui-sref="app.events.create" ng-if="vm.user.role=='producer'"></button>
</ion-nav-buttons>
<ion-content padding="true" class="my-content">

<div class="list card" ng-repeat="event in vm.events | orderBy:'-when'">
  <div class="item" ui-sref="app.events.detail.tickets({ eventId:event.id })">
    <h2>{{ event.name }}</h2>
    <p>{{ event.when | date }}</p>
  </div>
</div>

</ion-content>
</ion-view>