.error-msg {
    position: absolute;
    bottom: 49px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
    padding-top: 6px;
    z-index: 5;
}
/* COMMON */

.m-t-l {
    margin-top: 20px;
}
/* END COMMON */
/* PROFILE COVER */

.profile-cover {
    position: relative;
}
.profile-cover figcaption {
    position: absolute;
    top: 0;
    padding-top: 30px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.profile-cover figcaption * {
    color: white;
}
.profile-cover img {
    height: 50%;
    width: 100%;
}
.profile-stats {
    position: absolute;
    bottom: 0px;
}
.profile-stats div:nth-child(2) {
    border-right: 1px solid white;
    border-left: 1px solid white;
}
/* END PROFILE COVER */
/* CLIENT PROFILE  */

.client-profile-nav {
    text-align: center;
    margin: 15px 0px;
}
.client-profile-nav p {
    display: inline;
    margin: 0 10px;
}
.client-profile-nav .active {
    font-weight: bold;
}
/* END CLIENT PROFILE */
/* TICKET LIST */

.ticket-list.arrived {
    border-bottom: 3px solid #8CD787;
}
.ticket-list.arrived i {
    color: #8CD787;
}
.ticket-list.not-arrived {
    border-bottom: 3px solid #C7705B;
}
.ticket-list.not-arrived i {
    color: #C7705B;
}
/* END TICKET LIST */
/* DATE TIME PICKER */

.datetimepicker,
.datetimepicker table {
    width: 100%;
}
.datetimepicker span.hour {
    font-size: 10px;
}
.datetimepicker span.minute {
    width: 40%;
}
.glyphicon,
.glyphicon-arrow-left:before,
.glyphicon-arrow-right {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-arrow-left:before {
    content: "\f108";
}
.glyphicon-arrow-right:before {
    content: "\f10b";
}
/* END DATE TIME PICKER */

