<ion-view title="New Ticket">
<ion-content class="has-header">    
<form name="myForm" novalidate>
	<div class="list">
		<label class="item item-input item-select">
			<div class="input-label">Event </div>
			<select ng-model="selectedEvent" ng-options="event.id as event.name for event in events" ng-change="getPrices(selectedEvent)" required>
			</select>
		</label>
		<label class="item item-input item-select">
			<div class="input-label">Prices </div>
			<select ng-model="selectedPrice" ng-options="price.id as (price.price | currency) for price in prices" required>
			</select>
		</label>
	</div>
</form>

<button class="button button-block button-outline button-positive" ng-click="createTicket(selectedEvent, selectedPrice)" ng-disabled="myForm.$invalid">
	Create ticket
</button>

</ion-content>
</ion-view>