<p class="text-center m-t-l" ng-show="vm.separatedTickets.length==0">
    Have no tickets
</p>

<div class="list">

    <div class="item item-divider item-icon-right row text-center" ng-repeat-start="separator in vm.separatedTickets | orderBy: vm.separatorOrderBy">
        <div class="col">
            {{separator.separatorName}}
        </div>
        <div class="col" ng-show="vm.target=='user'">
            {{ separator.arriveCount }} / {{ separator.tickets.length }}
        </div>
        <div class="col" ng-show="vm.target=='user'">
            {{separator.income | currency}}
        </div>
    </div>

    <a class="item item-icon-right ticket-list" ng-class="{'arrived': ticket.arrived, 'not-arrived': !ticket.arrived}" ng-repeat-end ng-repeat="ticket in separator.tickets | orderBy: '-arrived'" ng-click="vm.showTicket(ticket.client.id, ticket.id)">
        <p>
            Price: {{ ticket.price.price | currency}}
        </p>
        <p ng-show="vm.target==='user'">
            To {{ ticket.client.first_name }} {{ ticket.client.last_name }}
        </p>
        <p ng-show="vm.target!=='user'">
            By {{ ticket.promoter.first_name }} {{ ticket.promoter.last_name }}
        </p>
        <p>
            Created at: {{ ticket.created_at | date: 'medium'}}
        </p>
        <i class="icon ion-egg"></i>
    </a>

</div>