<ion-modal-view ng-controller="ShowTicket as vm">

    <ion-header-bar class="bar-calm">
        <a ng-click="vm.closeModal()" class="button-icon ion-arrow-left-c button back-button"> </a>
        <h2 class="title">{{vm.ticket.client.first_name}} {{vm.ticket.client.last_name}}</h2>
    </ion-header-bar>
    
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <h3> {{vm.ticket.event.name}} at {{vm.ticket.event.when | date }} </h3>
                <p>
                    {{vm.ticket.price.price | currency}} By {{vm.ticket.promoter.first_name + " " + vm.ticket.promoter.last_name}}
                </p>
                <p> Created at {{vm.ticket.created_at | date:'medium' }} </p>
                <p ng-if="ticket.arrived"> Get in at {{vm.ticket.updated_at | date:'HH:mm:ss' }} by {{vm.ticket.cashier.first_name + " " + vm.ticket.cashier.last_name}} </p>
            </div>
        </div>

        <div class="delete-btn-wrapper" ng-if="vm.canDelete()">
            <button class="button button-small button-block button-assertive" ng-click="vm.confirmDelete()">
                Delete ticket
            </button>
        </div>

    </ion-content>
</ion-modal-view>
