<ion-modal-view ng-controller="ShowTicket as vm">
<ion-header-bar>
<h1 class="title">My Modal title</h1>
<span class="left-buttons"> 
	<a ng-click="vm.closeModal()" class="button-icon ion-arrow-left-c button back-button"> </a>
</span>

<div class="buttons right-buttons">
	<button class="button button-clear right" ng-click="vm.confirmDelete()">DELETE</button>
</div>

</ion-header-bar>
<ion-content>

<div class="list card">

	<div class="item item-icon-right">
		<h2>{{vm.ticket.client.first_name}} {{vm.ticket.client.last_name}}</h2>
		<i class="icon ion-checkmark-round" ng-if="arrived"></i>
		<i class="icon ion-close-round" ng-if="notArrived"></i>
	</div>

	<div class="item item-body">
		<h3> {{vm.ticket.event.name}} at {{vm.ticket.event.when | date }} </h3>
		<p>
			{{vm.ticket.price.price | currency}} By {{vm.ticket.promoter.first_name + " " + vm.ticket.promoter.last_name}}
		</p>
		<p> Created at {{vm.ticket.created_at | date:'medium' }} </p>
		<p ng-if="ticket.arrived"> Get in at {{vm.ticket.updated_at | date:'HH:mm:ss' }} by {{vm.ticket.cashier.first_name + " " + vm.ticket.cashier.last_name}} </p>
	</div>

	<div class="item tabs tabs-secondary tabs-icon-left" >
		<a class="tab-item" ng-click="deleteTicket()" ng-if="canEdit">
			<i class="icon ion-trash-b"></i>
			Delete
		</a>
	</div>

</div>

</ion-content>
</ion-modal-view>

<!-- <ion-view title="Ticket">
<ion-nav-buttons side="right">
<button class="button button-clear right" ui-sref="app.updateTicket({ clientId:ticket.client.id, ticketId:ticket.id })" ng-if="canEdit">EDIT</button>
</ion-nav-buttons>
<ion-content class="has-header"> 

<article class="ticket">
	<h2> {{ticket.event.name}} </h2>
	<h4> {{ticket.event.when | date }} </h4>
	<hr>
	<p> CLIENT: {{ticket.client.first_name}} {{ticket.client.last_name}} </p>
	<p> PRICE: {{ticket.price.price | currency}} </p>
	<p> PROMOTER: {{ticket.promoter.first_name + " " + ticket.promoter.last_name}} </p>
	<div ng-show="eventPass">
		<hr>
		<div ng-show="ticket.arrived">
			<p> ARRIVED AT: {{ticket.updated_at | date:'HH:mm:ss' }} </p>
			<p> CASHIER: {{ticket.cashier.first_name + " " + ticket.cashier.last_name}} </p>
		</div>
		<div ng-show="!ticket.arrived">
			<p> DID NOT ARRIVED</p>
		</div>
	</div>
</article> -->

<!-- <div class="list card">

	<div class="item item-icon-right">
		<h2>{{ticket.client.first_name}} {{ticket.client.last_name}}</h2>
		<i class="icon ion-checkmark-round" ng-if="arrived"></i>
		<i class="icon ion-close-round" ng-if="notArrived"></i>
	</div>

	<div class="item item-body">
		<h3> {{ticket.event.name}} at {{ticket.event.when | date }} </h3>
		<p>
			{{ticket.price.price | currency}} By {{ticket.promoter.first_name + " " + ticket.promoter.last_name}}
		</p>
		<p> Created at {{ticket.created_at | date:'medium' }} </p>
		<p ng-if="ticket.arrived"> Get in at {{ticket.updated_at | date:'HH:mm:ss' }} by {{ticket.cashier.first_name + " " + ticket.cashier.last_name}} </p>
	</div>

	<div class="item tabs tabs-secondary tabs-icon-left" >
		<a class="tab-item" ui-sref="app.updateTicket({ clientId:ticket.client.id, ticketId:ticket.id })" ng-if="canEdit">
			<i class="icon ion-edit"></i>
			Edit
		</a>
		<a class="tab-item" ng-click="deleteTicket()" ng-if="canEdit">
			<i class="icon ion-trash-b"></i>
			Delete
		</a>
	</div>

</div>
-->
